<table id="trilha2" summary="Grade MVC Summit 2011">
    <caption>
        Trilha 2</caption>
    <thead>
        <tr>
            <th class="palestrante">
                MVC Geek
            </th>
            <th class="palestra">
                Palestra
            </th>
            <th class="centro">
                Horário
            </th>
            <th class="exibeDescricao">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Eduardo Cucharro
            </td>
            <td>
                O que um desenvolvedor WEB precisa saber de HTML e Padrões?
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                O mito de que um desenvolvedor não precisa saber HTML já está mais do que vencido!
                Veja nesta palestra dicas e recursos que nós desenvolvedores precisamos realmente
                saber.
            </td>
        </tr>
        <tr>
            <td>
                Alexandre Tarifa
            </td>
            <td>
                Introdução ao ASP.NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Entenda o funcionamento do ASP.NET MVC e quebre o paradígma da migração do Web Forms
                para ASP.NET MVC
            </td>
        </tr>
        <tr>
            <td>
                Cleber Dantas
            </td>
            <td>
                Como trabalhar com AJAX, JSON e Cache no MVC
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Veja nesta palestra como criar aplicações performáticas e rápidas com ASP.NET MVC
                com serviços de AJAX, JSON e Cache.
            </td>
        </tr>
        <tr>
            <td>
                Victor Cavalcante
            </td>
            <td>
                MVC Scaffolding
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Em breve...
            </td>
        </tr>
        <tr>
            <td>
                Vinicius Quaiato
            </td>
            <td>
                Como testar e aplicar TDD com ASP.NET MVC
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                Um dos grandes apelo do ASP.NET MVC é a testabilidade que o framework possibilita.
                Veremos na prática como testar nossas aplicações ASP.NET MVC e veremos o que devemos
                testar. Se você quer conhecer testes de unidade e TDD, não perca.
            </td>
        </tr>
        <tr>
            <td>
                Fabrício Sanchez
            </td>
            <td>
                Criando uma aplicação ASP.NET MVC com auxílio do NuGet
            </td>
            <td class="centro">
                --:--
            </td>
            <td class="exibeDescricao">
                <span></span>
            </td>
        </tr>
        <tr class="descricaoPalestra">
            <td colspan="4">
                O NuGet é um poderoso recurso adicionado ao ASP.NET MVC 3. Ele permite de forma
                simplificada, gerenciar dependências tanto de bibliotecas quanto de outras ferramentas
                no contexto de uma aplicação sem causar impactos na mesma. Nesta palestra aprenderemos
                passo a passo como efetuar a instalação e configuração do NuGet (utilizando o Visual
                Studio) e o utilizaremos para adição de alguns helpers em uma aplicação ASP.NET
                MVC 3.
            </td>
        </tr>
    </tbody>
</table>
