@{
    ViewBag.Title = "Apoio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apoio</h1>
<p>Um evento como este não se faz sozinho. Conheça as empresas que estão apoiando e de alguma forma patrocinando o MVC Summit 2011.</p>

<div class="apoios">
<img src="../../images/apoiadores/gonow_tecnologia.gif" />

<img src="../../images/apoiadores/lambda3_MENOR.png" />

<img src="../../images/apoiadores/LocaWebLogo.jpg" />

<img src="../../images/apoiadores/msdn_logo.png" />

<img src="../../images/apoiadores/TechSmith.jpg" />

<img src="../../images/apoiadores/tekpub_log.png" />
</div>
