<h1>
    Grade</h1>
<ul class="menu" id="trilhas">
    <li><a href="#trilha1" title="Trilha 1">Trilha 1</a></li>
    <li><a href="#trilha2" title="Trilha 2">Trilha 2</a></li>
</ul>

@Html.Partial("Grade1")
@Html.Partial("Grade2")

<div class="grade">
    <p>
        <strong>Atenção! </strong>Esta é uma grade preliminar. Ela está confirmada, porém
        os horários/ordem das palestras podem ser alterados.</p>
    <p>
        Estamos ainda organizando uma segunda trilha a ser realizada paralelamente a esta
        com conteúdo apenas para iniciantes em ASP.NET MVC. Aguardem.</p>
</div>
