@using EventbriteApi.Widgets;
@{
    ViewBag.Title = "Inscricoes";
}
<h1>
    Inscrições</h1>
<p>
    O sucesso do MVC Summit é tanto que em menos de 4 dias as 1000 vagas para o evento
    foram preenchidas.</p>
<p>
    Como o evento é online existe uma limitação de infraestrutura para suportar todos
    os acessos simultâneos e manter assim o evento com qualidade. Estamos avaliando
    alternativas para verificar se há possibilidade de abrir novas vagas ou não.</p>
<p>
    Aos que não puderam se inscrever nossa recomendação é que tente acompanhar junto
    com um amigo.</p>
<p>
    <strong>Todas as apresentações serão gravadas.</strong> Assim você poderá visualizá-las
    após o evento.</p>

@_TwitterEvento.TwitterEvento()

<div style="width: 80%; margin: auto;">
    @*@Eventbrite.GetTicketWidget(eventId: 1241470271, height: 400)*@
</div>
