<h1>
    Organizacao</h1>
<p>
    O MVC Summit foi idealizado por <a href="http://viniciusquaiato.com">Vinicius Quaiato</a>, isto quer dizer que apenas a idéia
    surgiu daí.</p>
<p>
    O evento só está sendo possível graças ao apoio e idéias dadas por <a href="http://cavalcante.net">Victor Cavalcante</a>
    que aceitou o desafio sem pestanejar.</p>
<p>
    Teremos duas trilhas pelo fato de <a href="http://www.alexandretarifa.com.br/">Alexandre Tarifa</a> e o grupo <a href="http://comunidade.codificando.net/">Codificando.NET</a> terem
    se juntado ao evento.</p>
<p>
    Além de tudo isso cada pessoa atuando como @Html.ActionLink("palestrantes","Palestrantes") ajudou de alguma forma além
    de se prontificar a apresentar algum assunto ao público. A organização do evento
    está sendo um sucesso graças a todos os envolvidos e graças ao apoio e interesse
    de todos vocês. Obrigado!</p>
