@helper TwitterEvento()
    {
    <p>
        Fique de olho no twitter oficial do evento para novas informações: <a href="http://twitter.com/mvcsummit">
            <strong>@@mvcsummit</strong></a>.</p>

}